* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.row:after {
  content: "";
  display: table;
  clear: both;
}
nav {
  width: 100vw;
  position: fixed;
}
section {
  width: 100vw;
  height: 100vh;
}
.col {
  position: absolute;
  right: 0;
  padding-right: 100px;
  padding-top: 50px;
}
nav .col span {
  border-radius: 50%;
  display: inline-block;
  background-color: #fff;
  height: 40px;
  width: 40px;
  text-align: center;
  margin-right: 15px;
  padding-top: 3px;
  font-size: 30px;

}
.bg-red {
  background-color: #f00;
}
.bg-green {
  background-color: #008000;
}
.bg-yellow {
  background-color: #ff0;
}
